.item-todo{
    height: 48px;
    margin-top: 8px;
    padding: 0 12px;
    display: flex;
    width: 305px;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: #ebe3ee;
    color: blue;
}

.button-delete{
    border: none;
    background: #ebe3ee;
    color: blue;
}

